.zhushi {
  font-size: 18px;
  padding: 0.2rem 1rem;
  .tab {
    display: flex;
    justify-content: space-around;
  }
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: pink;
  font-size: 0.4rem;
}
.table {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  .time {
    width: 100%;
    display: flex;

    flex-direction: row-reverse;
  }
}
